.container{
    height: 30rem;
    width: 30rem;
    margin: 100px auto;
    text-align: center;
    background-color: azure;
}
.box{
   position: relative;
   top: 7rem;
   line-height: 1rem;
}
h1{
    font-size: 4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-size: 7rem;
    color: green;
}
button{
    padding: 0.5rem 1rem;
   border-radius: 5px;
   cursor: pointer;
   border: none;
   margin-left: 1REM;
   border: 2px solid black;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media (max-width:768px) {
    .container{
        margin: 220px auto;
    }
}